<div class="mb-2">
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="open()">
    Ajouter un groupe
  </button>
</div>

<table class="table table-striped" style="font-size: 0.8rem">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom du groupe</th>
      <th scope="col">Origine</th>
      <th scope="col">Ville</th>
      <th scope="col">Année début</th>
      <th scope="col">Année séparation</th>
      <th scope="col">Fondateurs</th>
      <th scope="col">Membres</th>
      <th scope="col">Courant musical</th>
      <th scope="col">Présentation</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data$ | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ d.nomDuGroupe }}</td>
      <td>{{ d.origine }}</td>
      <td>{{ d.ville }}</td>
      <td>{{ year(d.anneeDebut) }}</td>
      <td>{{ year(d.anneeSeparation) }}</td>
      <td>{{ d.fondateurs }}</td>
      <td>{{ membres(d.membres) }}</td>
      <td>{{ d.courantMusical }}</td>
      <td>{{ d.presentation }}</td>
      <td>
        <button type="button" class="btn btn-danger btn-sm" (click)="delete(d)">
          Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="mb-2">
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="open()">
    Ajouter un groupe
  </button>
</div>
